<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/main.css">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <!-- layout used: _layouts/basic.html -->
  <body class="body">
  
    <nav>
    {% include main_nav.html %}
    </nav>
     
    
	<section class="home-msg">
    {{ content }}
    </section>
	
	
    <footer>
    {% include main_footer.html %}
    </footer>
	
  </body>
</html>